<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-compatible" content="IE-edge,chrome=1">

	    <title>Daniel Kwak</title>
	    <script src="scripts/vendor/jquery-1.11.3.min.js"></script>
	    <meta name="description" content="">
	    <link href='https://fonts.googleapis.com/css?family=Quicksand|EB+Garamond|Cinzel|Quattrocento' rel='stylesheet' type='text/css'>
	    <link rel='stylesheet' href='/styles/style.css' />
	    <link rel="shortcut icon" type="image/png" href="./portfolio/favicon.png"/>
		
	    <script data-main="scripts/require-config" src="scripts/require.js"></script>
	</head>
	<body>
        <body>
        <h1 class="container"></h1>
        <div id="container">
            <p class="loading">
                
            </p>
        </div>
    </body>
    </body>
<html/>
